.chat{

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 25px;
    height: 70px;
    border-bottom: 1px solid #fafafa;

    &__details{

        h2{
            text-decoration: none;
        }
    }
    &__timestamp{
        color: lightgray;
    }
    &__image{
        margin-right: 20px;
    }
}