.chatScreen{

    &__text{
        margin-right: auto;
        background-color: $tinder-orange;
        padding: 15px;
        border-radius: 20px;
        color: white;
    }
    &__textUser{
        margin-left: auto;
        background-color: $tinder-pink;
        padding: 15px;
        border-radius: 20px;
        color: white;
    }
    &__timestamp{
        text-align: center;
        padding: 20px;
        color: gray;
    }

    &__input{
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
        border-top:1px solid lightgray;
    }
    &__inputField{
        flex:1;
        padding: 10px;
        border: none;
    }
    &__inputButton{
        border: none;
        margin-right: 20px;
        background-color: white;
        font-weight: bolder;
        color: #fe3d71;

    }
}
.chatScreen__message {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
    overflow:auto;
    height: 76vh;
}
