@mixin tinderText {
    background-image: linear-gradient(to right top,$tinder-orange,$tinder-pink);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
*{
    box-sizing: border-box;
    font-family: 'Raleway',sans-serif;
}
label{
    outline: none;
    border: none;
}